<% include ../partials/boilerplate %>
<header>Global Educational Exchange</header>
<nav>
  <ul>
    <li><a href='/'>Home</a></li>
    <li><a href='/country'>Country Info</a></li> 
    <!--<li><a href='/globals'>Donate</a></li> -->
    <li><a href='/globals/add'>Fund Raise</a></li>
    <li><a href='/auth/register'>Register</a></li>
    <li><a href='/auth/login'>Login</a></li>
    <li><a href='/user'><span class='current-tab'>My Profile</span></a></li>
    <li><a href='/auth/logout'>Logout</a></li>
  </ul>
</nav>
<div class='login-container'>
    <h1>Hi, <%= user.firstname%> <%= user.lastname%>!</h1>
    <p class='email'><%= user.email%></p>
    <p>You are currently signed in</p>
    <form action='/global/add'>
        <input type="submit" value="Hey there!" />
    </form>

</div>

<% include ../partials/end %>