<% include ../partials/boilerplate %>
<!--Users page once they sign in-->
<header>Global Educational Exchange</header>
<nav>
  <ul>
    <li><a href='/'>Home</a></li>
    <li><a href='/country'>Country Info</a></li> 
    <li><a href='/globals/add'>Fund Raise</a></li>
    <li><a href='/auth/register'>Register</a></li>
    <li><a href='/auth/login'>Login</a></li>
    <li><a href='/user'><span class='current-tab'>My Profile</span></a></li>
    <li><a href='/auth/logout'>Logout</a></li>
  </ul>
</nav>
<div class='user-body'>
  <div class='login-container'>
      <h1>Hi, <%= user.firstname%> <%= user.lastname%>! You are currently signed in :)</h1>
  </div>
</div>
<% include ../partials/end %>