<header>Global Educational Exchange</header>
<nav>
  <ul>
    <li><a href='/'>Home</a></li>
    <li><a href='/globals/about'>About</a></li> 
    <li><a href='/globals'>Donate</a></li> 
    <li><a href='/globals/add'>Fund Raise</a></li>
    <li><a href='/auth/register'>Register</a></li>
    <li><a href='/auth/login'>Login</a></li>
    <li><a href='/user'>My Profile</a></li>
    <li><a href='/auth/logout'>Logout</a></li>
  </ul>
</nav>

<!--'Donate' page will contain the API from Donorschoose.org-->