<!-- Country Info Page-->
<% include ../partials/boilerplate %>
<header>Global Educational Exchange</header>

<nav>
  <ul>
    <li><a href='/'>Home</a></li>
    <li><a href='/country'><span class='current-tab'>Country Info</span></a></li> 
    <li><a href='globals/add'>Fund Raise</a></li>
    <li><a href='/auth/register'>Register</a></li>
    <li><a href='/auth/login'>Login</a></li>
    <li><a href='/user'>My Profile</a></li>
    <li><a href='/auth/logout'>Logout</a></li>
  </ul>
</nav>
<div class='country-body'>

<div class='country-container'>
    <form method='POST' action='/globals/country/info'>
        <div class='search-country'>Search Country</div>
        </br>
        <input type="text" name='country' placeholder="search">
        <input type='submit' value='enter' />
    </form>
</div>
</div>
<% include ../partials/end %>